header{
    width:100%;
    display: flex;
    justify-content: center;
    top:0;
}

div.logo_default{
    height:30px;
     width:220px;
}
div.green_window{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
}
