/* #header{
    display: flex;
    justify-content: center;
    top:0;
} */

div.logo_area{
    display: flex;
    justify-content: center;
    top:0;
    width: 1130px;
    height: 160px;
    align-items: center;
}

div.logo_default{
    height:30px;
    width:220px;
    background-image:url(./png/photologo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
div.green_window{
    width: 586px;
    height: 56px;
    margin: 1px;
    border: 2px solid #19ce60;
}       
#input1{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    color : #000;
    border: #fff;
    outline: none;
}

#submit1{
    width: 50px;
    height: 56px;
    border: 1px;
    background-color: #19ce60;
    align-self: flex-end;
    position: relative;
}
div.service_area{
    align-self: flex-end;
    position:absolute;
    top: 12px;
    right: 27px;
    font-size: 12px;
}

div.gnb{
    display: flex;
    justify-content: space-between;
    border-bottom:solid rgb(32, 32, 32);
    border-top: solid rgb(32, 32, 32);
}
ul.list_nav_fix{
    list-style: none;
    display: flex;
}
li{

    margin-left: 10px;
}

ul.list_nav_fix li.nav_item a{
    text-decoration:none;
    color: #000;
}

ul.list_nav_fix li.nav_item:nth-child(-n+7) a{
    color: #03c75a;
}
div.weather{
    margin-right: 50px;
}
#container{
    display: flex;
    justify-content: space-around;
}
#newsstand_header{
    width: 750px;
    height: 49px;
    background-color: antiquewhite;
}
#newsstand_title{
    width: 750px;
    height: 18px;
    background-color:brown;
    padding-top: 22px;
    padding-bottom: 16px;
    float: left;
}
#newsstand_view{
    width: 750px;
    height: 262px;
    background-color: blueviolet;
}
#themecast_contents{
    width: 750px;
    height: 2214.8px;
    background-color: chartreuse;
}

#account{padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}

.login_msg{
    color: rgb(128,128,128);
    font-size: 12px;
    padding-left: 3px;
    width: 315px;
    height: 16px;
}